@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <title>Party</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="text-center m-2">
        <h3>System for party reservation</h3>
        <a class="btn btn-primary" asp-action="RsvpForm">Rsvp Now!</a>
    </div>
</body>
</html>

